/* Add your CSS here  */
.filter-container {
  padding: 12px 0;
  display: flex;
  gap: 1em;
}

.filter-container button {
  padding: 0.5em 1em;
  background-color: #3a506b;
  border-radius: 6px;
  color: white;
  border: none;
}

.filter-container button:hover {
  background-color: #1c2541;
  cursor: pointer;
}

.filter-container button.active {
  background-color: #5bc0be;
  color: black;
}

.user-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 6px;
}
